
/*// ****************** //*/
/*//       COLORS       //*/
/*// ****************** //*/
$blue: #2861E5;
$gray-main: #3F4450;
$gray-base: #969696;
$yellow: #FFA805;
$off-white: #F6F6F6;
$gray-bg: #F0EFEF;

/*// ****************** //*/
/*//      LAYOUTS       //*/
/*// ****************** //*/
$containers-padding: 4rem;